@import "_vars";
@import "_global";
@import "_fonts";
*,
html {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    a {
        color: black;
    }
}

.header {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding-left: 40px;
    padding-top: 40px;
    width: 280px;

    &-logo {
        width: 240px;
        height: 180px;
        background: $blue;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;
        a {
            color: white;
            letter-spacing: 2px;
            font-size: 25px;
            font-weight: 100;
        }
    }
}
.menu {
    &__list-item {
        list-style: none;
        margin-top: 10px;
        margin-bottom: 10px;

        &-link {
            display: block;
            position: relative;
            color: $blue;
            font-size: 25px;
            padding: 15px;
            transition: all 0.5s;

            &-active {
                background-color: #f2f2f2;
                color: $blue;
                padding-left: 30px;
                .triangle-right {
                    opacity: 1;
                    left: -40px;
                }
            }
            &:hover {
                background-color: #f2f2f2;
                color: $blue;
                padding-left: 30px;
                .triangle-right {
                    opacity: 1;
                    left: -40px;
                }
            }
        }
    }
    &-icon {
        padding-right: 30px;
    }
}
.triangle-right {
    position: absolute;
    top: 9px;
    left: -60px;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 20px solid $blue;
    border-bottom: 20px solid transparent;
    opacity: 0;
    transition: all 0.3s ease;
}

.home {
    display: flex;
    justify-content: space-between;
    margin-left: 280px;
    &-parallax {
        img {
            height: auto;
            background: transparent;
            height: 100vh;
            width: 400px;
        }
    }
    &-content {
        padding: 50px 70px 50px 70px;
    }
    &__box {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-bottom: 50px;

        &-icon {
            border: 1px solid #ccc;
            width: 122px;
            height: 122px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: $blue;
            margin-left: auto;
        }
        &-text {
            margin: 30px 0px;
            line-height: 20px;
            font-size: 16px;
            text-align: justify;
        }
        &-bottom-line {
            height: 1px;
            width: 240px;
            margin: 0 auto;
            outline: none;
            border: none;
            background: $blue;
        }
    }
    &-satellite {
        width: 50%;
        padding-right: 20px;
    }
    &-broadcast {
        width: 50%;
        padding-left: 20px;
        &-btn {
            padding: 12px 50px;
            border-radius: 0;
            background: #006699;
            color: white;
            transition: all 0.5s;
            margin-left: auto;
            float: right;
            &:hover {
                background-color: #0069d9;
            }
        }
    }
    &__dates {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
       
        &-content-box {
            display: flex;
            justify-content: space-between;
            padding-bottom: 60px;
            padding-right: 15px;
            &-icon {
                width: 250px;
                position: relative;

                i {
                    font-size: 60px;
                    color: $blue;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }

         
        }
        &-text {
            margin-left: 20px;
            line-height: 30px;
            span {
                a{
                    font-size: 18px;
                    color: $blue;
                    display: block;
                    padding-bottom: 10px;
                }
                
            }
        }
        &-img {
            width: 200px;
            height: 300px;
            img {
                width: 200px;
                height: 300px;
            }
        }
    }
}
.section-title {
    font-size: 2rem;
    color: $blue;
    border-bottom: 4px solid #ccc;
    padding-bottom: 20px;
}
